*{
    margin: 0;
    padding: 0;
}
.body{

    height: 100vh;
    width: 100%;
}

.section-1{
    height: 170px;
    width: 100%;

}
.box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.input-box{
    border-radius: 6px;
    height: 30px;
    width: 200px;
    
}
.button{
    margin-left: 85%;
    height: 50px;
    width: 150px;
    border-radius: 6px;
    background-color: black;
    color: white;
}
.box-2{
    display: flex;
    justify-content:end;
    align-items: end;
    gap: 20px;
    margin-right: 100px;       
}
.box-3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 30px;
}
.box-3 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.box-3 a:hover{
    background-color: rgb(116, 181, 116);
    border-radius: 8px;
}
.box{
    margin: 10px;
}
.box-2 i{
    font-size: 24px;

}
.section-2 img{
    height: 550px;
    width: 100%;
}
.section-4{ 
    
    height: 100px;
    width: 96%;
    background-color: rgb(231, 231, 194);
}
.section-4 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px;
    font-size: 20px;
    justify-content: space-around;
}
.section-5 h2{
    margin-left: 8%;
}
.section-5{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.section-6 img{
    height: 400px;
    width: 400px;
    margin: 10px;
    border-radius: 10px;
    
   
}
.section-6{
    display: flex;
    justify-content: center;
}
.section-6 h2{
    margin-left: 12%;
}
.section-6 button{
    margin-left: 11%;
    height: 50px;
    width: 200px;
    border-radius: 10px;
}
.box-5{
    text-align: center; 
    display: flex;
}
.section-7{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.section-7 h2{
    margin-left: 40%;
}
