*{
    padding: 0;
    margin: 0;
}
.body{
    height: 100vh;
    width: 100%;

    

}
.section{
    height: 100%;
    width: 100%;
}

.image img{
    height: 350px;
    
}

.border-radius{
    border-radius: 20px;
}
.margin{
    margin: 50px;
}
.padding{
    padding: 20px;
}
.margin-left{
    margin-left: 10%;
}
.margin-top{
    margin-top: 8%;
}
.h1 {
    color: white;
}
.p {
    color: white;
    font-size: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.display{
    display: flex;
    justify-content: center;

}
  
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.margin-left{
    margin-left: 10%;
}
.row img{
    height: 400px;  
    border-radius: 20px;
}
.background-color{
    background-color: rgb(91, 24, 24);
}
.margin1{
    margin: 10px;
}
.section-1{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.section-2{
    height: 100vh;
    width: 100%;
    background-color: rgb(40, 1, 1);
}

.box-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.box-4{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
}
.margin-top-2{
    margin-top: 14%;
}
.section-2 img{
    height: 100px;
    width: 100px;
    border-radius: 8px;
}
.h3{
    color: white;
    font-size: 50px;
    
}
.section-3{
    height: 100vh;
    width: 100%;
    background-color: rgb(20, 1, 1);
    
}
.display-2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.box-4{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.experience{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.margin-left-6{
    margin-left: 8%;
}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 24px;
    
    
}
.box-5{
    margin-right: 15%;
}
.box-6{
    margin-right: 15%;
}
.box-7{
    margin-top: 6%;
}
.box-5  h3{
    color: white;
}
.box-6 h3{
    color: white;
}
.box-7 h3{
    color: white;
}
.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 24px;
    
}
.margin-bottom-4{
    margin-top: 10%;
}